.paragraph_style {
    color: rgb(255, 255, 255);
    font-family: 'HelveticaNeue', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 18px;
    text-transform: none;
}
.style {
    color: rgb(1, 1, 1);
    line-height: 32px;
    opacity: 1.00;
}
.style_1 {
    color: rgb(0, 2, 2);
    line-height: 32px;
    opacity: 1.00;
}
.style_2 {
    color: rgb(1, 1, 1);
    line-height: 32px;
    opacity: 1.00;
}
.style_3 {
    color: rgb(5, 5, 5);
    line-height: 32px;
    opacity: 1.00;
}
.style_4 {
    color: rgb(0, 0, 0);
    line-height: 32px;
    opacity: 1.00;
}
.style_5 {
    color: rgb(8, 8, 8);
    line-height: 32px;
    opacity: 1.00;
}
.style_6 {
    color: rgb(0, 1, 2);
    line-height: 32px;
    opacity: 1.00;
}
.style_7 {
    color: rgb(17, 17, 17);
    line-height: 32px;
    opacity: 1.00;
}
.style_8 {
    color: rgb(12, 12, 12);
    line-height: 32px;
    opacity: 1.00;
}
.style_9 {
    color: rgb(18, 18, 18);
    line-height: 32px;
    opacity: 1.00;
}
.style_10 {
    color: rgb(1, 1, 1);
    line-height: 32px;
    opacity: 1.00;
}
.style_11 {
    color: rgb(11, 11, 11);
    line-height: 32px;
    opacity: 1.00;
}
.style_12 {
    font-family: 'HelveticaNeue-Bold', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}
.style_13 {
    color: rgb(6, 6, 6);
    line-height: 32px;
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.Free_Form {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_700_552 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1 {
    color: rgb(4, 4, 4);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1:hover {
    color: rgb(48, 206, 255);
    text-decoration: none;
}
a.class10 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class10:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class10:hover {
    color: rgb(48, 206, 255);
    text-decoration: none;
}
a.class11 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class11:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class11:hover {
    color: rgb(8, 8, 8);
    text-decoration: none;
}
a.class12 {
    color: rgb(10, 10, 10);
    text-decoration: none;
}
a.class12:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class12:hover {
    color: rgb(251, 252, 255);
    text-decoration: none;
}
a.class2 {
    color: rgb(7, 7, 7);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class2:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class3 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class3:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class3:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class4 {
    color: rgb(3, 2, 2);
    text-decoration: none;
}
a.class4:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class4:hover {
    color: rgb(48, 206, 255);
    text-decoration: none;
}
a.class5 {
    color: rgb(6, 5, 5);
    text-decoration: none;
}
a.class5:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class5:hover {
    color: rgb(44, 206, 255);
}
a.class6 {
    color: rgb(9, 8, 8);
    text-decoration: none;
}
a.class6:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class6:hover {
    color: rgb(44, 206, 255);
}
a.class7 {
    color: rgb(3, 3, 3);
    text-decoration: none;
}
a.class7:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class7:hover {
    color: rgb(44, 206, 255);
}
a.class8 {
    color: rgb(6, 6, 6);
    text-decoration: none;
}
a.class8:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class8:hover {
    color: rgb(44, 206, 255);
}
a.class9 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class9:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a.class9:hover {
    color: rgb(11, 12, 12);
    text-decoration: none;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
